{% extends 'base.html.twig' %}

{% block title %}Добавление Автора{% endblock %}

{% block body %}
    <h1>Добавление Автора</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('author_index') }}">Вернуться к списку Авторов</a>
{% endblock %}